<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel='stylesheet' href="../static/css/style.css" th:href="@{/css/style.css}">
    <script type="text/javascript" href="../static/js/javascript.js" th:src="@{/js/javascript.js}"></script>
	<title>PROMOS</title>
</head>
<body>
	<h1>PROMOS</h1>
	<hr/>
	<h2 th:text="${mensagem}">Mensagem</h2>
	<hr/><br>
	<a th:href="@{/}">Voltar</a>
	<br><br>
</body>
</html>